<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<div align="center">
    <form th:action="@{/user/new}" th:object="${user}" method="post">
        <br/> Name:
        <input type="text" th:field="*{username}" required/>
        <br/> Email:
        <input type="text" th:field="*{email}" required/>
        <br/> Password:
        <input type="text" th:field="*{password}" required/>
        <br/>
        <select size="3" multiple="multiple" name="roless" id="roless"  required>
            <option disabled>Roles:</option>
            <option value="ROLE_USER">USER</option>
            <option value="ROLE_ADMIN">ADMIN</option>
        </select>
        <br/>
        <input type="submit" value="Save"/>
        <br/>
    </form>
    <a th:href="@{/admin}">Admin panel</a>
    <br/>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>
