<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<div align="center">
    <h2>Edit User</h2>
    <form th:action="@{/user/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
        <br/> Name:
        <input type="text" th:field="*{username}"/>
        <br/> Email:
        <input type="text" th:field="*{email}"/>
        <br/> Password:
        <input type="password" th:field="*{password}"/>
        <br/>
        <input type="checkbox" name="roless" value="ROLE_USER" th:checked="${user.roles.toString().contains('ROLE_USER')}"/> USER
        <input type="checkbox" name="roless" value="ROLE_ADMIN" th:checked="${user.roles.toString().contains('ROLE_ADMIN')}"/> ADMIN
        <br/>
        <input type="submit" value="Update User"/>
    </form>
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>